
.divDesContacts{
    
    margin-top: 10px;
    color: white;
    background-color:#767170;
    height: 70vh;
    padding-left: 0px !important;
    padding-right: 0px !important;
 
    display: flex;
    flex-direction: row;

}
.carte{
 
    /*background-color: pink;*/
    background-image: url(cartess.png);
    height: 100%;

    background-position-x: left !important;
    background-position-y: top !important;
}

.rowContact{
    height: 50% !important;
    width: 100vw !important;
   
}

.rowContact div{
    padding-left: 100px;
    padding-top: 50px;
}



.contact{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}



.buttonContact{
    border-width: 2px 4px;
    border-radius: 40px !important;    
    margin-left:0px;
    width: 130px;

    
}

.spanContact{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
/*telephone */
@media screen and (max-width: 575.98px) {

  .divDesContacts{
      display: flex;
      width: 100% !important;
      top: 0px !important;

      height:1600px !important;
      background-color: paleturquoise;
      flex-direction: column-reverse !important;
  }
  .rowContact{
      width: 100vw !important;
      padding: 10vw;
      height: 700px !important;
  }
  .rowContact div{
    
      height: 270px !important;
      margin-bottom:30px;
      background: darkslategray;
  }

  .carte{
      background-position-x: left !important;
      background-position-y: top !important;
      height: 300px !important;
  }
 

  
}
 /*tablette*/
 @media (min-width: 600px) and (max-width:991.98px)  {
   
    body{
        padding: 0px !important;
    }
   .divDesContacts{

    display: flex;
    flex-direction: column-reverse;
    width: 200vw !important;
    padding-left: 0px !important;
    margin-top: 350px;

   }

   .carte{
       background-position-x: 50% 70%!important;
       background-position-y: 10% 30% !important;

    }

    .contact{
        width: 100% !important;
        display: flex;
       /* height: 100vh !important;*/
        flex-direction: column !important;
    }
    .rowContact{
        display: flex !important;
        flex-direction: row!important;
        width: 100vw !important;
        

    }
    .rowContact div{
  
        
     
    }

   
       
 
   
  
  }
    
    
